@model FirstMVCWebApp.Models.Category

@{
    ViewBag.Title = "CategoryDetails";
}

<h2>CategoryDetails</h2>

@using FirstMVCWebApp.Models




<div>
    <h4>Categiry  @Model.Name</h4>
    <hr />
    <dl>
        <dt>Название</dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

       

        <dt>Products </dt>

        <dd>
            <ul>
                @foreach (Product player in Model.Products)
                {
                    <li>@player.Name (@player.Price)</li>
                }
            </ul>
        </dd>
    </dl>
</div>